<!-- Add Car Button -->
{% macro button() %}
	<button type="submit" class="btn btn-default btn-md" data-toggle="modal" data-target="#add-car">
		<i class="material-icons">add_box</i> ADD A NEW CAR
	</button>
{% endmacro %}

<!-- Add Car Modal -->
{% macro modal() %}
	<div class="modal fade" id="add-car" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h1 class="nobreak" align="center">Add a new car</h1>
				</div>
				<div class="modal-body container-fluid text-centered">
					<div class="col-md-3 col-md-offset-3">
						<form name="add-car" action="{{ url_for('.add_car') }}" method="POST">

							<!-- Make select -->
							<div class="form-group">
								<label for="car-select-make">Make</label>
								<select required id="car-select-make" name="make" class="selectpicker" data-live-search="true">
									<option value="" disabled="disabled" selected="selected">Select Make</option>
								</select>
							</div>

							<!-- Model select -->
							<div class="form-group">
								<label for="car-select-model">Model</label>
								<select required id="car-select-model" name="model" class="selectpicker" data-live-search="true">
									<option value="" disabled="disabled" selected="selected">Select Model</option>
								</select>
							</div>

							<!-- Year select -->
							<div class="form-group">
								<label for="car-select-year">Year</label>
								<select required id="car-select-year" name="year" class="selectpicker" data-live-search="true">
									<option value="" disabled="disabled">Select Year</option>
								</select>
							</div>

							<!-- Submit -->
							<div class="form-group">
								<button type="submit" class="btn btn-default tn-md">
									<i class="material-icons">add_box</i>Add Car
								</button>
							</div>

						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endmacro %}

<!-- Select car script -->
{% macro script() %}
	<script>
      var make_selector = '#car-select-make';
      var model_selector = '#car-select-model';
      var year_selector = '#car-select-year';

      $(document).ready(function() {
          // Populate make select
          $.each({{makes | safe}}, function(index, make) {
              $(make_selector).append($('<option>').text(make).attr('value', make));
          });

          // When selected make changes, populate model select
          $(make_selector).change(function() {
              var selected_make = this.value;
              $(model_selector).empty();
              $.getJSON("{{ url_for('.get_models')}}", {
                      make: selected_make
                  },
                  function(data) {
                      $(model_selector).append($('<option>').text('Select Model').attr('disabled', 'disabled'));//.attr('selected', 'selected'));
                      $.each(data, function(number, model) {
                          $(model_selector).append($('<option>').text(model).attr('value', model));
                      });
                      $(model_selector).selectpicker('refresh');
                      $(model_selector).selectpicker('render');

                      $(model_selector).change(function() {
                          var selected_model = this.value;
                          $(year_selector).empty();
                          $.getJSON("{{ url_for('.model_years')}}", {
                                  make: selected_make,
                                  model: selected_model
                              },
                              function(data) {
                                  $(year_selector).append($('<option>').text('Select Year').attr('disabled', 'disabled'));//.attr('selected', 'selected'));
                                  $.each(data, function(number, year) {
                                      $(year_selector).append($('<option>').text(year).attr('value', year));
                                  });
                                  $(year_selector).selectpicker('refresh');
                                  $(year_selector).selectpicker('render');
                              }
                          );
                      });
                  }
              );
          });
      });
	</script>
{% endmacro %}