{% macro body(car) %}
<div class="card card-background" style="background-image: url('{{ car.image_url }}')">
	<div class="content">
		<h1 class="card-title">
			{{ car.year }} {{ car.make }} {{ car.model }}
		</h1>

		<div class="row">
			<div class="col-md-4">
				<div class="card-description">
					<p>
						License Plate: {{ car.license_place }}
						<br>
						VIN: {{ car.vin }}
						<br>
						Mileage: {{ car.current_mileage }}
					</p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card-description">
					<p>
						{{ car.recalls|length }} Recalls
						<br>
						{{ car.service_bulletins|length }} Service Bulletins
					</p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card-description">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

				</div>
			</div>
		</div>

			<div class="row">
				<div class="btn-group">
						<a href="{{ url_for('.car_details', car_id=car.id) }}" class="btn">
						<span class="material-icons">info_outline</span> View Car Info
					</a>
				</div>
				<form class="btn-group" action="{{ url_for('.remove_car', car_id=car.id) }}" method="POST">
					<button type="submit" class="btn">
						<input type=hidden value="{{ car.id }}" name=car_id>
							<span class="material-icons">delete_forever</span> Remove car
					</button>
				</form>
			</div>
	</div>
</div>
{% endmacro %}