{% extends "base.html" %}
{% from "public/register_dealer/components/register_form.html" import register_form with context %}
{% block title %} AUTOCUBE {% endblock %}
{% import "login.html" as login %}
{% block head %}
{{ super() }}
{% endblock %}

{% block landing %}
<body class="signup-page">
  <div class="page-header header-filter"
    style="background-image: url('{{ url_for('static', filename='images/landing-bg.jpg') }}'); background-size: cover; background-position: top center;">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <div class="card card-signup">
            <h2 class="card-title text-center">Register</h2>
            <div class="row">
              <div class="col-md-5 col-md-offset-1">
                <div class="info info-horizontal">
                  <div class="icon icon-rose">
                    <i class="material-icons">timeline</i>
                  </div>
                  <div class="description">
                    <h4 class="info-title">Marketing</h4>
                    <p class="description">
                      We've created the marketing campaign of the website. It was a very interesting collaboration.
                    </p>
                  </div>
                </div>
                <div class="info info-horizontal">
                  <div class="icon icon-primary">
                    <i class="material-icons">code</i>
                  </div>
                  <div class="description">
                    <h4 class="info-title">Fully Coded in HTML5</h4>
                    <p class="description">
                      We've developed the website with HTML5 and CSS3. The client has access to the code using GitHub.
                    </p>
                  </div>
                </div>
                <div class="info info-horizontal">
                  <div class="icon icon-info">
                    <i class="material-icons">group</i>
                  </div>
                  <div class="description">
                    <h4 class="info-title">Built Audience</h4>
                    <p class="description">
                      There is also a Fully Customizable CMS Admin Dashboard for this product.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-md-5">
                {{ register_form() }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

{% endblock %}