{% extends "page.html" %}
{% set active_page = "service" %}
{% set page_title = "Service" %}
{% block title %} Car Details {% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<h1>Schedule with {{ dealer.name }}</h1>

    Service your {{ car.year }} {{ car.make }} {{ car.model }}

		Fix Recalls, Service bulletins

		<h2>FREE!</h2>

<div id="bookingjs"></div>


{% endblock %}
{% block scripts %}
    <script src="http://cdn.timekit.io/booking-js/v1/booking.min.js" defer></script>
    <script>
		    window.timekitBookingConfig = {
		        widgetId: '{{ dealer.timekit['widget_id'] }}',
		        callbacks: {
		            'createBookingSuccessful': update_dealer_car()
		        }
		    };

		    function update_dealer_car(){
		      var url = "{{ url_for('_service.add_car_to_dealer') }}";
					var params = "dealer={{ dealer_id }}&car={{ car_id }}";
					var xhr = new XMLHttpRequest();
					xhr.open("POST", url, true);
					xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
					xhr.send(params)
		    }
    </script>
{% endblock %}
