{% extends "page.html" %}
{% set active_page = "service" %}
{% set page_title = "Service" %}
{% block title %} Car Details {% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<h1>Schedule with {{ dealer.name }}</h1>

    Service your {{ car.year }} {{ car.make }} {{ car.model }}

		Fix Recalls, Service bulletins

		<h2>FREE!</h2>

<div id="bookingjs"></div>


{% endblock %}
{% block scripts %}
    <script src="cdn.timekit.io/booking-js/v1/booking.min.js" defer></script>
    <script>window.timekitBookingConfig = { widgetId: '{{ dealer.timekit['widget_id'] }}' }</script>
{% endblock %}
