{% extends "page.html" %}
{% set active_page = "service" %}
{% set page_title = "Service" %}
{% import "service/dealer_search_modal.html" as search with context%}
{% block title %} {{ page_title }}{% endblock %}
{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap-select.css') }}">
{% set active_page = active_page|default('garage') %}
{% endblock %}

{% block content %}
{{ search.button() }}
{{ search.modal() }}
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/bootstrap-select.min.js')}}" type="text/javascript"></script>
{{ search.script() }}
{% endblock %}
