{% extends "page.html" %}
{% set active_page = "service" %}
{% set page_title = "Service" %}
{% import "service/dealer_card.html" as dealer_card with context%}
{% block title %} Car Details {% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<h2>Autocube Dealers ({{ autocube_dealers|length }})</h2>
{% for autocube_dealer in autocube_dealers %}
	{{ dealer_card.autocube_dealer(autocube_dealer) }}
{% endfor %}

<h2>Non autocube dealers {{ dealers|length }}</h2>
{% for dealer in dealers %}
{{ dealer_card.non_autocube(dealer) }}
{% endfor %}

{% endblock %}
{% block scripts %}
{% endblock %}
