{% from "news/components/news_item.html" import news_item with context %}
{% macro news_tabs_content() %}
<div class="news-grid" style="margin-top: -45px">

{#<div class="modal modal-fullscreen fade" id="modal-fullscreen" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">#}



	<!-- Column 1 -->
	<div class="col-md-6 jasgrid" style="margin-left:-10px">
		{% for item in news_items %}
		{% if loop.index is not divisibleby 2 %}
		{{ news_item(item) }}
		{% endif %}
		{% endfor %}
	</div>
	<!-- Column 2 -->
	<div class="col-md-6 jasgrid" style="margin-left:10px">
		{% for item in news_items %}
			{% if loop.index is divisibleby 2 %}
			{{ news_item(item) }}
			{% endif %}
		{% endfor %}
	</div>
</div>



{% endmacro %}
{% block scripts %}


{% endblock %}