{% macro top_nav() %}
<nav class="navbar navbar-danger navbar-transparent navbar-absolute">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      </button>
      <h1><a class="navbar-brand" href="/">Autocube</a></h1>
    </div>
    <div class="collapse navbar-collapse" id="navigation-example">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="/login" class="btn btn-white btn-simple">
          <i class="material-icons">account_circle </i> Login
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
{% endmacro %}