{% extends "public.html" %}
{% block title %}Register	{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
{% from "footer_public.html" import footer with context%}

	<!-- Terms and Conditions -->
<div class="modal fade" id="termsAndConditions" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Terms and Conditions</h4>
      </div>
      <div class="modal-body">

<p>&nbsp;</p>
<p><strong>Terms of Service</strong></p>
<p>Last update: February 1st, 2015.</p>
<ol>
<li><strong> ACCEPTANCE OF TERMS OF SERVICE</strong></li>
</ol>
<p>Welcome to CCJ Tech LLC.</p>
<p>This site, as well as all of our automotive sites, are owned and operated by CCJ Tech LLC, Inc. (referred to as a &ldquo;Site,&rdquo; the &ldquo;Sites,&rdquo; &ldquo;CCJ Tech LLC,&rdquo; &ldquo;us&rdquo; or &ldquo;we&rdquo;). The Sites are offered to you (referred to as &ldquo;you&rdquo; or &ldquo;user&rdquo;) on the condition that you accept all of these Terms of Service (the &ldquo;Terms of Service&rdquo;).</p>
<p>There are two ways that you agree to be bound by these Terms of Service:</p>
<ul>
<li>By using the Sites in any way; and</li>
<li>By creating an account on any of the Sites.</li>
</ul>
<p>If you are under eighteen, you may use the Sites but you are not eligible to create an account or to submit content to the Sites. If you are a parent or legal guardian creating an account on behalf of a minor for whom you have legal responsibility, you hereby agree to these Terms of Service on behalf of that minor and acknowledge that you are responsible for that minor&rsquo;s compliance with the Terms of Service.</p>
<p>If you do not agree to all of the terms and conditions contained in these Terms of Service, do not use our websites in any manner. We reserve the right to limit or terminate your access to the Sites if you do not comply with these Terms of Service.</p>
<ol start="2">
<li><strong> CHANGES TO TERMS OF SERVICE</strong></li>
</ol>
<p>We may change these Terms of Service at any time. If we make a change, we will post them under the link &ldquo;Terms of Service&rdquo; on the front door of the Sites and the new terms will become effective upon posting. &nbsp;If the change is material and would impact your use of the service prior to the date of the change and if you have created a user account and provided us with your email, we will send you an email notification in accordance with Section&nbsp;15 &nbsp;Please check the Terms of Service by following the link on the front door periodically for changes.</p>
<ol start="3">
<li><strong> YOUR PRIVACY</strong></li>
</ol>
<p>Your use of the Sites is subject to the CCJ Tech LLC&nbsp;<a href="http://www.autocube.com/privacypolicy">Privacy Policy</a></p>
<p>You agree that all information that you provide when you create an account is true and correct. If we have reason to believe that the account information that you have provided to us is not accurate, we may terminate your account and/or your access to the Sites.</p>
<p>Your account is password-protected. You are responsible for all activity in your account. You are responsible for maintaining the confidentiality of your password. Do not share it with any person. If you share your password with any person, we are not responsible for any actions that person may take.</p>
<p>If you believe that someone has accessed your account without your permission, or if you become aware of any other security breach, contact us at Customer Support.</p>
<p>You consent to the collection and processing of any information that you provide us, including personal information, in the United States. Our collection and use of any information about you is governed by United States laws and by our&nbsp;<a href="http://www.autocube.com/privacypolicy"><strong>Privacy Policy .</strong></a></p>
<ol start="4">
<li><strong> YOUR CONTENT</strong></li>
</ol>
<p>You are solely responsible for any content, including text images, audio-visual materials or other data that you post on the Sites (&ldquo;Your Content&rdquo;).</p>
<p>You agree that Your Content will not:</p>
<ul>
<li>be harmful, threatening, abusive, harassing, tortious, vulgar, hateful, or racially, ethnically or otherwise offensive or discriminatory;</li>
<li>seek to harm children or expose them to any inappropriate content</li>
<li>be obscene, pornographic, excessively violent or sexual;</li>
<li>be illegal, encourage any illegal activity or discuss illegal activities in a manner that indicates intent to commit them (illegal activities include child pornography, stalking, sexual assault, fraud, trafficking in obscene or stolen material, drug dealing and/or drug abuse, harassment, theft, or conspiracy to commit any criminal activity);</li>
<li>be defamatory, libelous or invasive of another&rsquo;s privacy or publicity rights, or disclose any personally identifiable information about any person;</li>
<li>infringe any patent, trademark, trade secret, copyright or other proprietary or intellectual property rights of any party; pretend to be from someone other than you; be antisocial, disruptive, or destructive, including &ldquo;flaming,&rdquo; &ldquo;spamming,&rdquo; &ldquo;flooding,&rdquo; &ldquo;trolling,&rdquo; or &ldquo;griefing&rdquo;</li>
<li>contain software viruses or any other computer code, files or programs designed to destroy, interrupt or otherwise limit the functionality of any computer software, computer hardware or other equipment.</li>
</ul>
<p><strong>License to Your Content</strong></p>
<p>You retain ownership of Your Content, but you grant, and you represent and warrant that you have the right to grant, to CCJ Tech LLC an irrevocable, perpetual, non-exclusive, fully-paid, transferrable, worldwide license to use, copy, publicly perform, display, distribute, modify, adapt or reformat Your Content, to create derivative works of Your Content and to incorporate Your Content into other works, on the Sites and in connection with CCJ Tech LLC&rsquo;s business, in any media now known or hereafter developed.</p>
<p>You agree that none of Your Content shall be deemed confidential or secret information and that Your Content will be publicly available through the Sites.</p>
<p><strong>Right to Refuse to Post Content</strong></p>
<p>We reserve the right to refuse to post or to remove Your Content at any time in our absolute and sole discretion without prior notice. We have no duty to monitor or pre-screen Your Content or other peoples&rsquo; content or communications, but we may do so if we elect. If we elect to screen content, there may be a delay in making the content available on the Sites.</p>
<p><strong>No Commercial Use</strong></p>
<p>You understand that the Sites are offered to users for their personal use only. You may not use the Sites as part of your business or for any commercial purpose, including copying any portion of the Sites for public display. You may not use the Sites to advertise products or services in any way.</p>
<p><strong>If You Have a Connection with any Supplier</strong></p>
<p>Certain rules apply to Your Content if there exists a material connection between you and the manufacturer or seller (the &ldquo;Supplier&rdquo;) of any product or service that you discuss in Your Content. For example, a material connection exists if the Supplier has:</p>
<ul>
<li>given you the product or service for free or at a discount not available to the public;</li>
<li>provided you with any compensation;</li>
<li>paid for your travel, lodging, meals or entertainment;</li>
<li>provided you with any gifts, free admission or other benefits;</li>
<li>provided you with anything else of value (collectively, &ldquo;Benefits&rdquo;)</li>
</ul>
<p>If Your Content meets any of the foregoing criteria, then you agree as follows:</p>
<ul>
<li>You will disclose in Your Content the existence and nature of any Benefits provided to you by the Supplier.</li>
<li>Your Content reflects your honest opinions, findings, beliefs, or experience. Your Content does not any express or implied representation that would be deceptive if made directly by the Supplier.</li>
<li>If you represent in Your Content that you use the product or service, you must have been a bona fide user of it at the time Your Content was posted.</li>
<li>You are liable for all statements made in Your Content.</li>
<li>If you represent in Your Content that you are an expert with respect to the endorsement message, you will comply with the requirements of the&nbsp;<strong><u>Federal Trade Commission Guide Concerning the Use of Endorsements and Testimonials in Advertising</u></strong>applicable to experts.</li>
<li>If Your Content is submitted on behalf of an organization, you will comply with the requirements of&nbsp;<strong><u>Federal Trade Commission Guide Concerning the Use of Endorsements and Testimonials in Advertising</u></strong>applicable to organizational endorsements.</li>
</ul>
<p><strong>Special Rules for Manufacturers, Sellers or Advertisers of Products or Services</strong></p>
<p>If you are an officer, employee, agent or representative of any manufacturer, seller or advertise of any product or service and you post any Content regarding that product or service on the Sites, you will comply with the&nbsp;<strong><u>Federal Trade Commission Guide Concerning the Use of Endorsements and Testimonials in Advertising</u></strong>.</p>
<ol start="5">
<li><strong> NO RESPONSIBILITY FOR OTHER USERS&rsquo; OR THIRD PARTIES&rsquo; CONTENT, SITES OR ACTIONS</strong></li>
</ol>
<p>You understand that the Sites allow users to interact with each other. We do not verify users or conduct any research or background check. We do not evaluate or control exchanges between users. Any opinions or statements, content or actions of a user are the responsibility of the user alone, and not of CCJ Tech LLC, and we will have no obligation to you with respect to user opinions, statements, content or actions.</p>
<p>The Sites may contain content posted by third parties, including content posted by users, our content partners and advertisers. The Sites also contains links to third party sites that are not under the control of CCJ Tech LLC. We are not responsible for, nor do we guarantee the accuracy or integrity of, any third party content or for any third party service or site accessible through links or advertisements on our Sites. The inclusion of any advertising, promotional information or links does not imply that CCJ Tech LLC endorses or accepts any responsibility for the third party&rsquo;s content or services.</p>
<p>CCJ Tech LLC is not responsible are a result of any dealings between you and any third party whose site or services are available or linked to through the Sites.</p>
<ol start="6">
<li><strong> INTELLECTUAL PROPERTY RIGHTS</strong></li>
</ol>
<p>&ldquo;CCJ Tech LLC,&rdquo; &ldquo;Autocube,&rdquo; is a registered trademarks of CCJ Tech LLC. All third party trademarks, trade names, service marks and service names displayed on the Sites are the property of their respective holders.</p>
<p>You agree that the Sites contain proprietary information and materials that are owned by CCJ Tech LLC or its licensors and are protected by applicable intellectual property and other laws, including but not limited to copyright, and that you will not use such proprietary information or materials in any way whatsoever except for your personal, non-commercial use of the Sites in compliance with the terms of these Terms of Service. No portion of the Sites may be reproduced in any form or by any means.</p>
<ol start="7">
<li><strong> COPYRIGHT POLICY</strong></li>
</ol>
<p>CCJ Tech LLC does not encourage or tolerate copyright infringement. Do not post any materials to the Sites or provide any materials to us unless you have all necessary rights to do so. It is your responsibility to ensure that you have all necessary rights to Your Content.</p>
<p>We reserve the right to remove any content from the Sites at any time without notice or liability. CCJ Tech LLC&rsquo;s intellectual property policy is to (i) remove material that CCJ Tech LLC believes in good faith, upon notice from an intellectual property owner or their agent, is infringing the intellectual property of a third party by being made available through a Site, and (ii) remove any content posted to the Sites by &ldquo;repeat infringers.&rdquo; CCJ Tech LLC considers a &ldquo;repeat infringer&rdquo; to be any user that has uploaded, posted or otherwise provided content to a Site and for whom CCJ Tech LLC has received more than two takedown notices compliant with the provisions of 17 U.S.C. &sect; 512(c) with respect to such content. CCJ Tech LLC has discretion, however, to terminate the account of any user after receipt of a single notification of claimed infringement or upon CCJ Tech LLC&rsquo;s own determination.</p>
<p>If you believe that your work has been copied and posted on the Sites in a way that constitutes copyright infringement, provide our Copyright Agent with a written notification that contains the following information:</p>
<ul>
<li>A physical or electronic signature of person authorized to act on behalf of the owner of an exclusive right that is allegedly infringed;</li>
<li>Identification of the copyrighted work claimed to have been infringed, or, if multiple copyrighted works at a single online site are covered by a single notification, a representative list of such works at that site;</li>
<li>Identification of the material that is claimed to be infringing or to be the subject of infringing activity and that is to be removed or access to which is to be disabled, and information reasonably sufficient to permit us to locate the material;</li>
<li>Information reasonably sufficient to permit us to contact the complaining party, such as an address, telephone number, and, if available, an electronic mail address at which the complaining party may be contacted;</li>
<li>A statement that the complaining party has a good-faith belief that use of the material in the manner complained of is not authorized by the copyright owner, its agent, or the law; and</li>
<li>A statement that the information in the notification is accurate, and under penalty of perjury, that the complaining party is authorized to act on behalf of the owner of an exclusive right that is allegedly infringed.</li>
</ul>
<p>Notice may be sent to our Copyright Agent as follows:</p>
<p>Using the&nbsp;<a href="http://www.autocube.com/contact/"><strong>Contact Us Form</strong></a></p>
<ol start="8">
<li><strong> SUBMITTED IDEAS</strong></li>
</ol>
<p>We love to get ideas from our users about the Sites. Please be aware that we are free to use any ideas, suggestions or content that you submit to us without any compensation or credit, so please don&rsquo;t send us anything or post anything to the Sites if you are looking for either of those things. Any ideas, suggestions or content that you send to us will be subject to the provisions of Section 4 &ldquo;Your Content.&rdquo;</p>
<ol start="9">
<li><strong> SERVICE INTERRUPTION</strong></li>
</ol>
<p>On occasion, technical problems may delay or prevent your access to the Sites. CCJ Tech LLC will have no responsibility for your inability to access the Sites due to any reasons that are beyond the control of CCJ Tech LLC. In the event of a Site failure or interruption that is due to fault of CCJ Tech LLC that is of such a duration so as to significantly and materially diminish the benefits of the Site, your sole remedy will be a pro rata refund of your membership payment.</p>
<ol start="10">
<li><strong> CHANGES TO OR TERMINATION OF THE SERVICE</strong></li>
</ol>
<p>CCJ Tech LLC may make changes to the Sites from time to time, including by adding or removing features, content and tools.</p>
<p>CCJ Tech LLC may terminate one or more of its Sites at any time without liability to you.</p>
<ol start="11">
<li><strong> TERMINATION OR SUSPENSION OF YOUR ACCOUNT</strong></li>
</ol>
<p>CCJ Tech LLC reserves the right to terminate your account or permanently or temporarily restrict your access to the Sites, without any liability to you, under the following circumstances: (a) you have violated the terms of these Terms of Service or otherwise acted inconsistently with its spirit or letter; (b) CCJ Tech LLC determines that you have provided inaccurate information in connection with your registration; (c) requests by law enforcement or other government agencies; and (d) engagement by you in fraudulent or illegal activities.</p>
<p>CCJ Tech LLC reserves the right to inform law enforcement of any illegal activity or material that it suspects or discovers on, through, or otherwise relating to the Sites and provide law enforcement officials with all requested information about the user account from which the illegal activity or material originated. See our Privacy Policy &nbsp;for further information.</p>
<ol start="12">
<li><strong> DISCLAIMER OF WARRANTY AND LIMITATION OF LIABILITY</strong></li>
</ol>
<p>CCJ Tech LLC does not represent or guarantee that the Sites will be error-free or that your usage will not be interrupted.</p>
<p>ALL INFORMATION AND SERVICES OFFERED THROUGH THE SITES IS PROVIDED &ldquo;AS-IS&rdquo;AND &ldquo;AS AVAILABLE&rdquo; WITHOUT WARRANTY OF ANY KIND AND CCJ TECH LLC HEREBY DISCLAIMS ALL WARRANTIES EITHER EXPRESSED OR IMPLIED, INCLUDING BUT NOT LIMITED TO, IMPLIED WARRANTIES OF MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE. IN ADDITION, EXCEPT AS EXPRESSLY PROVIDED OTHERWISE, CCJ TECH LLC DISCLAIMS ANY WARRANTIES OF NON-INFRINGEMENT, TITLE, OR QUIET ENJOYMENT. Because some jurisdictions do not allow the exclusion of implied warranties, some of these exclusions may not apply to you. If any state or other jurisdiction does not allow the exclusion or warranties, then CCJ Tech LLC&rsquo;s warranties shall be limited in those jurisdictions to the extent permitted by law.</p>
<p>CCJ TECH LLC AND ITS AFFILIATES, AND THEIR RESPECTIVE OFFICERS, DIRECTORS, EMPLOYEES, AGENTS, LICENSORS, REPRESENTATIVES, AND THIRD PARTY PROVIDERS TO THE SITES WILL NOT BE LIABLE FOR DAMAGES OF ANY KIND INCLUDING, WITHOUT LIMITATION, COMPENSATORY, CONSEQUENTIAL, INCIDENTAL, INDIRECT, SPECIAL OR SIMILAR DAMAGES, THAT MAY RESULT FROM THE USE OF, OR THE INABILITY TO USE, THE SITE OR ANY CONTENT OR MATERIALS PROVIDED THROUGH THE SITE, INCLUDING BUT NOT LIMITED TO:</p>
<ul>
<li>ERRORS OR OMISSIONS IN THE CONTENT ON THE SITES;</li>
<li>ACTIONS TAKEN OR CONTENT POSTED BY THIRD PARTIES OR OTHER USERS;</li>
<li>OUR FAILURE TO STORE, OR OUR LOSS OF, YOUR CONTENT;</li>
<li>ANY THIRD PARTY SERVICES ORDERED THROUGH ANY OF THE SITES;</li>
<li>YOUR LOSS OF USE OF ANY OF THE SITES.</li>
</ul>
<p>WITHOUT LIMITING THE FOREGOING, IN NO EVENT WILL OUR LIABILITY TO YOU EXCEED THE AMOUNTS THAT YOU HAVE PAID TO ACCESS THE SITES.</p>
<p>If any state or other jurisdiction does not allow the exclusion or limitation of liability for damages described above, then CCJ Tech LLC&rsquo;s liability shall be limited in those jurisdictions to the extent permitted by law.</p>
<ol start="13">
<li><strong> INDEMNITY AND WAIVER</strong></li>
</ol>
<p>You agree to indemnify, defend, and hold CCJ Tech LLC and its affiliates, officers, directors, employee, agents, licensors, representatives and third-party providers harmless from any damages, liability, claim or demand due to or arising out of:</p>
<ul>
<li>your use of the Sites,</li>
<li>your violation of these Terms of Service or the Privacy Policy ,</li>
<li>your violation of any rights of any user or other person,</li>
<li>your Posted Content, and</li>
<li>any action taken by CCJ Tech LLC or its partners in investigating any suspected violation or in taking action to address any violation.</li>
</ul>
<p>Indemnification shall include the payment of reasonable attorneys fees incurred in the defending the claim.</p>
<p>CCJ Tech LLC reserves the right to assume the exclusive defense and control of any matter subject to indemnification by you, in which event you will fully cooperate with CCJ Tech LLC in asserting any available defenses.</p>
<p>In addition, you agree to waive any right to sue or recover any damages from CCJ Tech LLC and its affiliates, officers, directors, employee, agents, licensors, representatives and third-party providers as a result of any decision to remove or refuse to process any information or content, to warn you, to suspend or terminate your access to the Sites, or to take any other action during the investigation of a suspected violation or as a result of CCJ Tech LLC&rsquo;s conclusion that a violation of these Terms of Service may have occurred. This waiver and indemnity provision applies to all violations described in or contemplated by these Terms of Service.</p>
<ol start="14">
<li><strong> DISPUTES</strong></li>
</ol>
<p>By accessing the Sites, you agree that the statutes and laws of the United States and the State of California, without regard to any principles of conflicts of law, will apply to all matters relating to the Sites, and you further agree that any litigation shall be subject to the exclusive jurisdiction of the state and federal courts in Santa Clara County in the State of California, USA.</p>
<p>Regardless of any statute or law to the contrary, any claim or cause of action arising out of or related to use of the Sites, the Terms of Service or the Privacy Policy &nbsp;must be filed within one (1) year after the event giving rise to such claim or cause of action or be forever barred.</p>
<ol start="15">
<li><strong> NOTICES</strong></li>
</ol>
<p>We may be required by state or federal law to notify you of certain events. In addition, we may need to notify you from time to time regarding changes to these Terms of Service, to membership fees or to the Sites. You agree that such notices will be effective upon our posting them on the relevant Site, sending them to you through email or postal mail, or notifying you via other means required by law. If you do not provide us with accurate information to contact you, we will not be held liable if we fail to notify you.</p>
<p>You consent to receiving any notices regarding the Terms of Service or the Privacy Policy &nbsp;or any breach of security involving your personally identifiable information through email.</p>
<p>Any notices that we send to you by email will be sent to the email address you provided when you registered for an account or the email address in your profile.</p>
<ol start="16">
<li><strong> GENERAL INFORMATION</strong></li>
</ol>
<p>These Terms of Service, the Privacy Policy &nbsp;and any applicable guidelines posted on the Sites govern your use of the Sites and constitute the entire Terms of Service between you and CCJ Tech LLC regarding your use of the service. These Terms of Service supersedes any prior Terms of Services between you and CCJ Tech LLC relating to your use of the Sites (including, but not limited to, any prior versions of these Terms of Service or the Privacy Policy ).</p>
<p>These Terms of Service are not assignable, transferable of sub licensable by you except with CCJ Tech LLC&rsquo;s prior written consent.</p>
<p>The failure of CCJ Tech LLC to exercise or enforce any right or provision of these Terms of Service does not constitute a waiver of that right or provision. If a court of competent jurisdiction finds any provision of these Terms of Service to be invalid, the provision shall be construed in a manner consistent with applicable law to reflect, as nearly as possible, the parties&rsquo; original intentions as reflected in the provision, and that the other provisions of the Terms of Service remain in full force and effect. All headings in the Terms of Service are for convenience only and have no legal or contractual effect.</p>
<ol start="17">
<li><strong> CONTACTING CCJ TECH LLC</strong></li>
</ol>
<p>Please contact us at the following address with any questions concerning these Terms of Service or to report any violations of these Terms of Service.</p>
<p>CCJ Tech LLC, Inc.&nbsp;</p>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<body class="signup-page">
<div class="page-header header-filter" data-parallax="active" style="background-image: url('{{ url_for('static', filename='images/landing-bg.jpg') }}')">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="card card-signup">
          <h2 class="card-title text-center">Register</h2>
          <div class="row">
            <div class="col-md-5 col-md-offset-1">
              <div class="info info-horizontal">
                <div class="icon icon-rose">
                  <i class="material-icons">timeline</i>
                </div>
                <div class="description">
                  <h4 class="info-title">"Lorem ipsum dolor sit amet, consectetur adipiscing elit</h4>
                  <p class="description">
	                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  </p>
                </div>
              </div>
              <div class="info info-horizontal">
                <div class="icon icon-primary">
                  <i class="material-icons">code</i>
                </div>
                <div class="description">
                  <h4 class="info-title">"Lorem ipsum dolor sit amet, consectetur adipiscing elit</h4>
                  <p class="description">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  </p>
                </div>
              </div>
              <div class="info info-horizontal">
                <div class="icon icon-info">
                  <i class="material-icons">group</i>
                </div>
                <div class="description">
                  <h4 class="info-title">"Lorem ipsum dolor sit amet, consectetur adipiscing elit</h4>
                  <p class="description">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-5">
              <div class="social text-center">
							 <a href="{{ url_for('social.login', provider='Facebook') }}" class="btn btn-just-icon btn-facebook">
                  <i class="fa fa-facebook"> </i>
                </a>
								 <button class="btn btn-just-icon btn-google">
                <i class="fa fa-google"></i>
                </button>
	              <div class="h3 black">or</div>
              </div>

              <form class="form" action="{{ url_for('public.register_by_email') }}" data-toggle="validator" method="POST">
                <div class="content">


                  <div class="input-group">
                    <span class="input-group-addon">
                    <i class="material-icons">perm_identity</i>
                    </span>
                    <div class="form-group is-empty has-feedback">
	                    <input type="text" class="form-control" data-minlength="2" placeholder="First Name..." name="first_name" required>
	                    <span class="material-input"></span></div>
                      <div class="help-block with-errors"></div>
                  </div>

                  <div class="input-group">
                    <span class="input-group-addon">
                    <i class="material-icons">perm_identity</i>
                    </span>
                    <div class="form-group is-empty has-feedback">
	                    <input type="text" class="form-control" data-minlength="2" placeholder="Last Name..." name="last_name" required>
	                    <span class="material-input"></span></div>
                      <div class="help-block with-errors"></div>
                  </div>

	                <!-- email -->
                  <div class="input-group">
                    <span class="input-group-addon">
                    <i class="material-icons">email</i>
                    </span>
                    <div class="form-group is-empty has-feedback">
	                    <input type="email" class="form-control" placeholder="Email..." name="email" required>
	                    <span class="material-input"></span>
                      <div class="help-block with-errors">Invalid Email</div>
                    </div>
                  </div>

	                <!-- password -->
	                <div class="input-group">
                    <span class="input-group-addon">
                    <i class="material-icons">lock_outline</i>
                    </span>
                    <div class="form-group has-feedback">
	                    <input type="password" data-minlength="6" placeholder="Password..." class="form-control" name="password" required>
	                    <span class="material-input"></span>
                      <div class="help-block with-errors">Minimum of 6 characters</div>

                    </div>
                  </div>
                  <!-- If you want to add a checkbox to this form, uncomment this code -->
                  <div class="checkbox">
                    <label>
                    <input type="checkbox" name="optionsCheckboxes" checked="" required>
											I agree to the
	                    <a data-toggle="modal" data-target="#termsAndConditions">terms and conditions</a>.
                    </label>
                  </div>
                </div>
                <div class="footer text-center">
                    <button id="get started" class="btn btn-default" type="submit">Get Started</button>
                </div>
              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
{% endblock %}
{% block scripts %}
  <script type="text/javascript" src="{{ url_for('static', filename='js/validator.min.js') }}" defer></script>

	{{ footer() }}
{% endblock %}
