{% extends "page.html" %}
{% block title %} Recalls {% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
  <div class="container-fluid">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="jumbotron" style="background: #ffffff; !important">
                <div class="row">
                    <div class="col-md-2">
                        <a href="{{ url_for('.garage') }}" class="btn btn-default btn-sm" role="button">
                            <span class="glyphicon glyphicon-arrow-left"></span> Back to my cars
                        </a>
                    </div>
                    <div class="col-md-2 col-md-offset-8">
                        <a href="{{ url_for('.garage') }}" class="btn btn-default btn-sm" role="button">
                            <span class="glyphicon glyphicon-trash"></span> Remove car
                        </a>
                    </div>
                </div>
                <br>
                <br>
                <div class="row">
                    <div class="col-md-4">
                        <img src="../../static/images/lambo.jpeg" height="100px" width="200px">
                    </div>
                    <div class="col-md-4">
                       <h4>{{ car.year }} {{ car.make }} {{ car.model }}</h4>
                        Recommended services: <br>
                        Total Mileage: <br>
                        Daily Mileage Average: <br>
                    </div>
                    <div class="col-md-4">
                        baz
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div>
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab-1" role="tab" data-toggle="tab">Car Details</a></li>
                    <li><a href="#tab-2" role="tab" data-toggle="tab">Service History</a></li>
                    <li><a href="#tab-3" role="tab" data-toggle="tab">Scheduled Maintenance</a></li>
                </ul>
                <div class="tab-content">
                    <br>
                    <br>
                    <div class="tab-pane active" role="tabpanel" id="tab-1">
                        <form class="form-horizontal">
                            <fieldset>
                            <!-- Text input-->
                            <div class="form-group">
                              <label class="col-md-4 control-label" for="current_mileage">Current Mileage</label>
                              <div class="col-md-4">
                              <input id="current_mileage" name="current_mileage" type="text" placeholder="placeholder" class="form-control input-md">

                              </div>
                            </div>

                            <!-- Text input-->
                            <div class="form-group">
                              <label class="col-md-4 control-label" for="vin">VIN</label>
                              <div class="col-md-4">
                              <input id="vin" name="vin" type="text" placeholder="placeholder" class="form-control input-md">

                              </div>
                            </div>

                            <!-- Select Basic -->
                            <div class="form-group">
                              <label class="col-md-4 control-label" for="transmission_type">What is your transmission type?</label>
                              <div class="col-md-4">
                                <select id="transmission_type" name="transmission_type" class="form-control">
                                  <option value="automatic">Automatic</option>
                                  <option value="manual">Manual</option>
                                </select>
                              </div>
                            </div>

                            <!-- Select Basic -->
                            <div class="form-group">
                              <label class="col-md-4 control-label" for="oil_type">What type of engine oil do you use?</label>
                              <div class="col-md-4">
                                <select id="oil_type" name="oil_type" class="form-control">
                                  <option value="1">Regular</option>
                                  <option value="2">Synthetic</option>
                                  <option value="3">I don't know</option>
                                </select>
                              </div>
                            </div>

                            <!-- Button -->
                            <div class="form-group">
                              <label class="col-md-4 control-label" for="car-details-save"></label>
                              <div class="col-md-4">
                                <button id="car-details-save" name="car-details-save" class="btn btn-default">Save</button>
                              </div>
                            </div>

                                </fieldset>
                            </form>
                    </div>
                    <div class="tab-pane" role="tabpanel" id="tab-2">
                        <p>Second tab content.</p>
                    </div>
                    <div class="tab-pane" role="tabpanel" id="tab-3">
                        <p>Third tab content.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
