{% macro garage_car_item(car) %}
<div class="panel panel-default">
	<div class="panel-body">
		<!-- Column 1 -->
		<div class="col-md-4">
			<div class="row">
			<img src="../../static/images/lambo.jpeg" height="100px" width="200px">
			</div>
			<div class="row">
				<a href="{{ url_for('.car_details', id=car.id)}}" class="btn btn-default" role="button">
						View Car Information
				</a>
			</div>
		</div>

		<!-- Column 2 -->
		<div class="col-md-4">
			<div class="row">
				{{ car.year }}
			</div>
			<div class="row">
				<h3 class="nobreak"><b>{{ car.make }} {{ car.model }}</b></h3>
			</div>
			<div class="row">
				Recommended services:
			</div>
			<div class="row">
				Total Mileage:
			</div>
			<div class="row">
				Daily Mileage Average:
			</div>
		</div>

		<!-- Column 3 -->
		<div class="col-md-4">RECALLS!!!</div>

	</div>
</div>
{% endmacro %}