{% extends "page.html" %}
{% block title %} Car Details {% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<h1>Autocube Dealers</h1>
{% for autocube_dealer in autocube_dealers %}
    <div class="panel panel-default">
      <div class="panel-body">
        <h2>{{ autocube_dealer['name']}}</h2>
        <br>
        Distance: {{ autocube_dealer['distance'] }} <br>
        Address: {{ autocube_dealer['address'] }} <br>
        Contact Info: {{ autocube_dealer['contactInfo'] }} <br>
        Hours: {{ autocube_dealer['operations'] }} <br>

        <a href="{{ url_for('_appointments.schedule_with_dealer', dealer_id=autocube_dealer.id, car_id=car.id) }}" class="btn btn-info" role="button">
            Schedule
        </a>


      </div>
    </div>
{% endfor %}

<h1>Non autocube dealers</h1>
{% for dealer in dealers %}
    <div class="panel panel-default">
      <div class="panel-body">
        <h2>{{ dealer['name']}}</h2>
        <br>
        Distance: {{ dealer['distance'] }} <br>
        Address: {{ dealer['address'] }} <br>
        Contact Info: {{ dealer['contactInfo'] }} <br>
        Hours: {{ dealer['operations'] }} <br>


      </div>
    </div>
{% endfor %}

{% endblock %}
{% block scripts %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js" defer></script> <script src="//cdn.timekit.io/booking-js/v1/booking.min.js" defer></script>
{#    <script>window.timekitBookingConfig = { widgetId: '{{ autocube_dealer.timekit['widget_id'] }}' }</script>#}
    <script src="{{ url_for('static', filename='js/car-details-tabs.js') }}" type="text/javascript"></script>
{% endblock %}
