{% extends "base.html" %}
{% block title %} Recalls {% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
    <form class="form-horizontal" action="{{ url_for('.filter') }}">
       <fieldset>
          <!-- Text input-->
          <div class="form-group">
             <label class="col-md-4 control-label" for="year">Year</label>
             <div class="col-md-4">
                <input id="year" name="year" type="text" placeholder="2012" class="form-control input-md">
             </div>
          </div>
          <!-- Text input-->
          <div class="form-group">
             <label class="col-md-4 control-label" for="make">Make</label>
             <div class="col-md-4">
                <input id="make" name="make" type="text" placeholder="Honda" class="form-control input-md">
             </div>
          </div>
          <!-- Text input-->
          <div class="form-group">
             <label class="col-md-4 control-label" for="model">Model</label>
             <div class="col-md-4">
                <input id="model" name="model" type="text" placeholder="Civic" class="form-control input-md">
             </div>
          </div>
          <!-- Button -->
          <div class="form-group">
             <label class="col-md-4 control-label" for="submit"></label>
             <div class="col-md-4">
                <button id="submit" name="submit" class="btn btn-primary">Submit</button>
             </div>
          </div>
       </fieldset>
    </form>
    <table class="table table-bordered">
       <thead>
          <tr>
             <th>
                NHTSACampaignNumber
             </th>
             <th>
                Consequence
             </th>
             <th>
                Notes
             </th>
             <th>
                Component
             </th>
             <th>
                Summary
             </th>
             <th>
                Remedy
             </th>
             <th>
                Model Year
             </th>
             <th>
                Model
             </th>
             <th>
                Make
             </th>
             <th>
                Date Report Received
             </th>
             <th>
                Manufacturer
             </th>
          </tr>
       </thead>
       {% for recall in recalls %}
       <tbody>
          <tr>
             <td>
                {{ recall.NHTSACampaignNumber }}
             </td>
             <td>
                {{ recall.Conequence }}
             </td>
             <td>
                {{ recall.notes }}
             </td>
             <td>
                {{ recall.Component }}
             </td>
             <td>
                {{ recall.Summary }}
             </td>
             <td>
                {{ recall.Remedy }}
             </td>
             <td>
                {{ recall.ModelYear }}
             </td>
             <td>
                {{ recall.Model }}
             </td>
             <td>
                {{ recall.Make }}
             </td>
             <td>
                {{ recall.ReportReceivedDate }}
             </td>
             <td>
                {{ recall.Manufacturer }}
             </td>
          </tr>
       </tbody>
       {% endfor %}
    </table>
    <table class="table table-bordered">
       <thead>
          <tr>
             <th>
                Name
             </th>
             <th>
                Hours
             </th>
             <th>
                Distance
             </th>
             <th>
                Address
             </th>
             <th>
                Contact Info
             </th>
          </tr>
       </thead>
       {% for dealer in dealers %}
       <tbody>
          <tr>
             <td>
                {{ dealer.niceName }}
             </td>
             <td>
                {{ dealer.hours }}
             </td>
             <td>
                {{ dealer.distance }}
             </td>
             <td>
                {{ dealer.address }}
             </td>
             <td>
                {{ dealer.contactInfo }}
             </td>
          </tr>
       </tbody>
       {% endfor %}
    </table>
{% endblock %}