{% macro body(car) %}
<div class="card card-background" style="background-image: url('../../../../static/images/bmw.jpg')">
	<div class="content">
		<h1 class="card-title">
			{{ car.year }} {{ car.make }} {{ car.model }}
		</h1>

		<div class="row">
			<div class="col-md-4">
				<div class="card-description">
					<p>
						Thing 1
					</p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card-description">
					<p>Thing 2</p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card-description">
					<p>Thing 3</p>
				</div>
			</div>
		</div>
	</div>
</div>
{% endmacro %}