{% macro body() %}
<div class="tab-pane" role="tabpanel" id="tab-recalls">
{% if recalls|length > 0 %}
	<div class="panel-body recalls">
		<button type="submit" class="btn btn-danger btn-lg" data-toggle="modal" data-target="#serviceCarModal">
			Fix All Safety Recalls Now
		</button>
	</div>
{% else %}
	<div class="h3 black">No outstanding recalls!</div>
{% endif %}
	{% for recall in recalls %}
	<div class="panel panel-danger">
		<div class="panel-heading h5">NHTSA Campaign: {{ recall.nhtsa_number }}</div>
		<div class="panel-body recalls">
			<h3>Recall consequence:</h3>
			{{ recall.consequence }} <br> <br>
			<h3>Affected Components:</h3>
			{{ recall.components}} <br><br>
		</div>

	</div>
	{% endfor %}
</div>
{% endmacro %}