{% macro body() %}
<div class="tab-pane" role="tabpanel" id="tab-recalls">
{% if recalls|length > 0 %}
	<div class="panel-body recalls">
		<button type="submit" class="btn btn-default" data-toggle="modal" data-target="#serviceCarModal">
			Fix All Safety Recalls Now
		</button>
	</div>
{% else %}
	<div class="h3 black">No outstanding recalls!</div>
{% endif %}
	{% for recall in recalls %}
	<div class="panel panel-danger">
		<div class="panel-heading">NHTSA Campaign: {{ recall.nhtsa_number }}</div>
		<div class="panel-body recalls">
			<h4>Recall consequence:</h4>
			{{ recall.consequence }} <br> <br>
			<h4>Affected Components:</h4>
			{{ recall.components}} <br><br>
		</div>

	</div>
	{% endfor %}
</div>
{% endmacro %}