{% macro body() %}
<div class="tab-pane" role="tabpanel" id="tab-service-bulletins">
{% if service_bulletins|length > 0 %}
	<div class="panel-body recalls">
		<button type="submit" class="btn btn-default btn-lg" data-toggle="modal" data-target="#serviceCarModal">
			Fix all service bulletins now!
		</button>
	</div>
{% else %}
	<div class="h3 black">No outstanding service bulletins!</div>
{% endif %}

{% for bulletin in service_bulletins %}
<div class="panel panel-danger">
	<div class="panel-heading h5">NHTSA Campaign: {{ bulletin.nhtsa_number }}</div>
	<div class="panel-body recalls">
			<h3>Summary:</h3>
			{{ bulletin.summary }} <br> <br>
			<h3>Affected Components:</h3>
			{{ bulletin.component_description}} <br><br>
	</div>
	<button type="button" class="btn btn-default">
			SERVICE NOW
	</button>
</div>
{% endfor %}
</div>
{% endmacro %}