{% extends "page.html" %}
{% set active_page = "news" %}
{% block title %} News {% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<div id="tab-news">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#tab-1" role="tab" data-toggle="tab">My News</a></li>
        <li><a href="#tab-2" role="tab" data-toggle="tab">Subscriptions </a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane fade in active" role="tabpanel" id="tab-1">
            {% for item in news_items %}
                <div class="row">
                    <div class="col-lg-10 col-lg-offset-2 col-lg-pull-1 col-md-10 col-md-offset-2 col-md-pull-1">
                        <br>
                        <article class="blog-item">
                            <div class="row">
                                <div class="col-lg-4 col-md-4"><img src="{{ item.image }}" width="400" height="200" id="article-image" class="pull-left img-responsive"></div>
                                <div class="col-md-8 col-md-offset-0">
                                    <div id="article-content" class="text">
                                        <h3><a href="#">{{ item.title }}</a></h3>
                                        <p>{{ item.summary }} </p>
                                        <h4><a href="{{ item.link }}">Read More</a></h4></div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="tab-pane fade" role="tabpanel" id="tab-2">
            <form class="form-horizontal" action="{{ url_for('.update_subscriptions') }}" method="post">
                <fieldset>
                <!-- Form Name -->
                <legend>Subscriptions</legend>

                <!-- Multiple Checkboxes -->
                <div class="form-group">
                  <label class="col-md-4 control-label" for="feeds">Feeds</label>
                  <div class="col-md-4">
                    {% for feed in feeds %}
                    <div class="checkbox">
                    <input type="checkbox" name="feeds" value="{{ feed }}" {% if user_feeds[feed] == 1 %}checked{% endif %}>
                        {{ feed }}
                    </label>
                    </div>
                    {% endfor %}
                  </div>
                </div>

                <!-- Button -->
                <div class="form-group">
                  <label class="col-md-4 control-label" for="submit"></label>
                  <div class="col-md-4">
                    <button id="submit" class="btn btn-default">Save</button>
                  </div>
                </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
{% endblock %}