{% macro news_tabs() %}
	<div class="header" data-background-color="orange">
	<div class="nav-tabs-navigation">
		<div class="nav-tabs-wrapper">
		<ul class="nav nav-tabs" data-tabs="tabs">
			<h2>News</h2>
			<li class="active"><a href="#tab-news-all" role="tab" data-toggle="tab">All News</a></li>
				{% for make in makes %}
				<li><a href="#{{ make }}-feed" role="tab" data-toggle="tab">{{ make }} News</a></li>
				{% endfor %}
				<li><a href="#tab-news-subscriptions" role="tab" data-toggle="tab">Subscriptions <i class="material-icons">playlist_add</i> </a></li>
		</ul>
		</div>
	</div>
	</div>
{% endmacro %}