{% macro news_subscriptions() %}
<div class="tab-pane fade" role="tabpanel" id="tab-news-subscriptions">
	<form class="form-horizontal" action="{{ url_for('.update_subscriptions') }}" method="post">
		<fieldset>
			<!-- Feed Checkboxes -->
			<div class="form-group">
				<label class="col-md-4 control-label" for="feeds"></label>
				<div class="col-md-4">
				{% for feed in feeds %}
				<div class="checkbox">
					<div class="togglebutton">
					<label>
					<input type="checkbox" id="feeds" name="feeds" value="{{ feed }}" {% if user_feeds[feed] == 1 %}checked=""{% endif %}>
					</label>
					{{ feed }}
					</div>
				</div>
				{% endfor %}
				</div>
			</div>
			<!-- Submit Button -->
			<div class="form-group">
				<label class="col-md-4 control-label" for="submit"></label>
				<div class="col-md-4">
					<button id="submit" class="btn btn-default">Save</button>
				</div>
			</div>
		</fieldset>
	</form>
</div>
{% endmacro %}