{% extends "page.html" %}
{% set active_page = "news" %}
{% set page_title = "News" %}
{% block title %} {{ page_title }} {% endblock %}
{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/news-grid.css') }}">
{% endblock %}

{% from "news/components/tabs.html" import news_tabs with context %}
{% from "news/components/tabs_content.html" import news_tabs_content with context %}

{% block content %}
<div class="card card-nav-tabs">
	{{ news_tabs() }}
	{{ news_tabs_content() }}
</div>
{% endblock %}