{% extends "base.html" %}
{% block title %} AUTOCUBE {% endblock %}
{% import "login.html" as login %}
{% block head %}
{{ super() }}
{% endblock %}
{% block landing %}
<body class="landing-page">
	<div class="wrapper">
		<!-- Header -->
		<div class="header header-filter" style="background-image: url('{{ url_for('static', filename='images/landing-bg.jpg') }}');">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
{#						<img src="{{ url_for('static', filename='images/autocube_logo.png') }}" alt="autocube" style="width:50vh;height:25vh;">#}
						<h1>
							AUTOCUBE
						</h1>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<h1 class="title">Never worry about the safety of your car again.</h1>
						<h4>Autocube brings you the latest news and safety updates for your vehicles. We put you in touch with dealers to fix your car's safety recalls for free..</h4>
						<br/>
						<button class="btn btn-default btn-lg" type="button" data-toggle="modal" href="javascript:void(0)" onclick="openRegisterModal();">
							Get Started
						</button>
					</div>
				</div>
			</div>
		</div>

		<!-- Main -->
		<div class="main main-raised">
			<div class="container">
				<div class="section text-center section-landing">
					<div class="row">
						<div class="col-md-8 col-md-offset-2">
							<h2 class="title">What is autocube?</h2>
							<h5 class="description">
							Our flagship web & mobile interface allows our users to directly communicate and interface with Automotive Manufacturers and Dealers.
							</h5>
						</div>
					</div>
					<div class="features">
						<div class="row">
							<div class="col-md-4">
								<div class="info">
									<div class="icon icon-primary">
										<i class="material-icons">flash_on</i>
									</div>
									<h4 class="info-title">WE MAKE IT EASY</h4>
									<p>Divide details about your product or agency work into parts. Write a few lines about each one. A paragraph describing a feature will be enough.</p>
								</div>
							</div>
							<div class="col-md-4">
								<div class="info">
									<div class="icon icon-success">
										<i class="material-icons">monetization_on</i>
									</div>
									<h4 class="info-title">FAIR AND TRANSPARENT PRICING </h4>
									<p>Divide details about your product or agency work into parts. Write a few lines about each one. A paragraph describing a feature will be enough.</p>
								</div>
							</div>
							<div class="col-md-4">
								<div class="info">
									<div class="icon icon-danger">
										<i class="material-icons">check_circle</i>
									</div>
									<h4 class="info-title">HAPPINESS GUARANTEED </h4>
									<p>We only work with highly rated mechanics. All services are backed by our 12-month / 12,000-mile warranty. </p>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- Contact -->
				<div class="section landing-section">
					<div class="row">
						<div class="col-md-8 col-md-offset-2">
							<h2 class="text-center title">Dealer? Work with us</h2>
							<h4 class="text-center description">
								Connect with customers and service their cars.
							</h4>
							<!-- Contact Form -->
							<form class="contact-form">
								<div class="row">
									<div class="col-md-6">
										<div class="form-group label-floating">
											<label class="control-label">Your Name</label>
											<input type="email" class="form-control">
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group label-floating">
											<label class="control-label">Your Email</label>
											<input type="email" class="form-control">
										</div>
									</div>
								</div>
								<div class="form-group label-floating">
									<label class="control-label">Your Messge</label>
									<textarea class="form-control" rows="4"></textarea>
								</div>
								<div class="row">
									<div class="col-md-4 col-md-offset-4 text-center">
										<button class="btn btn-primary btn-raised">
										Send Message
										</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	{{ login.body() }}
</body>
{% endblock %}
