{% extends "base.html" %}
{% block title %} AUTOCUBE {% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block landing %}
<div class="jumbotron hero">
    <div class="row">
        <div class="col-md-8 col-md-offset-2 get-it">
            <h1 class="text-center">Never worry about the safety of your car again.</h1>
            <p class="text-center">Autocube brings you the latest news and safety updates for your vehicles. We put you in touch with dealers to fix your car's safety recalls for free.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1 col-md-offset-5">
            <button class="btn btn-default btn-lg" type="button">Get Started</button>
        </div>
    </div>
</div>
{% endblock %}
