{% extends "base.html" %}
{% block title %} AUTOCUBE {% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block nav %}
    {% set navigation_bar = [
    ('/news', 'news', 'News'),
    ('/garage', 'garage', 'Garage'),
    ('/profile', 'profile', 'Profile'),
    ('/appointments', 'appointments', 'My Appointments'),
    ] -%}
    {% set active_page = active_page|default('index') -%}

        <div class="sidebar" data-color="orange">
			<div class="logo">
                <img src="{{ url_for('static', filename='images/autocube_logo.png')}}">
			</div>

	    	<div class="sidebar-wrapper">
	            <ul class="nav">
	               {% for href, id, caption in navigation_bar %}
                    <li{% if id == active_page %} class="active"{% endif %}>
                        <a href="{{ href|e }}">{{ caption|e }}</a>
                    </li>
                {% endfor %}
	            </ul>
	    	</div>
	    </div>

    <div class="main-panel">
        <div class="content">
            <div class="container-fluid">
            {% block content %}
            {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
