{% extends "base.html" %}
{% set navigation_bar = [
('/news', 'news', 'News'),
('/garage', 'garage', 'Garage'),
('/profile', 'profile', 'Profile'),
('/appointments', 'appointments', 'My Appointments'),
] %}
{% set active_page = active_page|default('index') %}
{% import "sidebar.html" as sidebar with context %}
{% import "navbar.html" as navbar with context %}
{% import "footer.html" as footer with context %}
{% block title %} AUTOCUBE {% endblock %}
{% block head %}
{{ super() }}
{% endblock %}

{% block page %}
<div class="wrapper">
	{{ sidebar.body() }}
	<div class="main-panel">
		{{ navbar.body() }}
		<div class="content">
			<div class="container-fluid">
				{% block content %}{% endblock %}
			</div>
		</div>
		{{ footer.body() }}
	</div>
</div>
{% endblock %}