{% macro css() %}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/sidebar.css') }}">
{% endmacro %}
{% macro body() %}
<div class="sidebar" data-color="orange">
	<div class="logo">
			<img src="{{ url_for('static', filename='images/autocube_logo.png')}}">
	</div>
	<div class="sidebar-wrapper ">
		<ul class="nav">
		 {% for href, id, caption in navigation_bar %}
			<li{% if id == active_page %} class="active"{% endif %}>
				<a href="{{ href|e }}">{{ caption|e }}</a>
			</li>
			{% endfor %}
		</ul>
	</div>
</div>
{% endmacro %}