{% macro body() %}
<div class="sidebar" data-color="gray">
	<div class="logo">
{#		<h2>AUTOCUBE</h2>#}
		<img src="{{ url_for('static', filename='images/autocube_logo.png')}}">
	</div>

	<div class="sidebar-wrapper">
		<ul class="nav">
		{% for href, id, caption in navigation_bar %}
		<li{% if id == active_page %} class="active"{% endif %}>
		<a href="{{ href|e }}">
		{% if id == 'profile' %}
		<i class="material-icons">account_box</i>
		{% endif %}
		{% if id == 'garage' %}
		<i class="mdi mdi-car"></i>
		{% endif %}
		{% if id == 'news' %}
		<i class="mdi mdi-newspaper"></i>
		{% endif %}
		{% if id == 'appointments' %}
		<i class="mdi mdi-calendar"></i>
		{% endif %}
		{% if id == 'service' %}
		<i class="mdi mdi-wrench"></i>
		{% endif %}
		{{ caption|e }}
		</a>
		</li>
		{% endfor %}
		</ul>
	</div>
</div>
{% endmacro %}