{% extends "page.html" %}
{% block title %} Car Details {% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}

<div id="bookingjs">
  <script type="text/javascript" src="https://cdn.timekit.io/booking-js/v1/booking.min.js" defer></script>
  <script type="text/javascript">
    window.timekitBookingConfig = {
      email:    'txiong3@illinois.edu',
      apiToken: 'UJuBHHwPxpEKKNQYafhtsKNHYDZb68FA',
      calendar: '2ea8d1c4-dca4-46c3-8455-49a01d1a55ec',
      name:     'Test',
      avatar:   ''
    };
  </script>
</div>
{% endblock %}
